@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

/* OccupationsList */
.btn-content {
  display: flex;
}

.occupation {
  display: none;
}
.occupation.open {
  display: block;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.search-input {
  width: 200px;
}

/* design system override overview */
#root {   
  --digi--global--color--profile--blue--dark: #141010;
  --digi--global--color--profile--blue--base: #443131;
  --digi--global--color--profile--blue--light: #5a4b42;
  --digi--global--color--profile--green--dark: #ffb875;
  --digi--global--color--profile--green--light: #ffd9b8;
  --digi--global--color--profile--green--lighter: #ffe1c7;
  --digi--global--color--cta--green--base: #93e2e0;
  --digi--global--color--cta--green--light: #b2ebe8;
  --digi--global--color--cta--green--lighter: #dbf5f5;
  --digi--global--color--cta--link--base: #4e6172;
  --digi--global--color--cta--hover--base: #61778f;
  --digi--global--color--cta--visited--base: #7b263d;

  --digi--color--text--link-visited: #000000;

  --digi--global--color--neutral--grayscale--base: #fafafa;

  --digi--color--text--inverted: #000000; 
}

