@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

@import 'mobile.css';
@import url('desktopSmall.css') screen and (min-width: 576px);
@import url('desktopMedium.css') screen and (min-width: 768px);
@import url('desktopLarge.css') screen and (min-width: 992px);


/*  Design system override. Changes colors globally */
:root {   
  --digi--global--color--profile--blue--dark: #141010;
  --digi--global--color--profile--blue--base: #443131;
  --digi--global--color--profile--blue--light: #5a4b42;
  --digi--global--color--profile--green--dark: #ffb875;
  --digi--global--color--profile--green--light: #ffd9b8;
  --digi--global--color--profile--green--lighter: #ffe1c7;
  --digi--global--color--cta--green--base: #93e2e0;
  --digi--global--color--cta--green--light: #b2ebe8;
  --digi--global--color--cta--green--lighter: #dbf5f5;
  --digi--global--color--cta--link--base: #4e6172;
  --digi--global--color--cta--hover--base: #61778f;
  --digi--global--color--cta--visited--base: #7b263d;
  --digi--global--color--neutral--grayscale--base: #fafafa;
}

/* --------------------- Common css -------------------- */

* {
  box-sizing: border-box;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.search-input {
  width: 350px;
}


/*  ------------------header----------------------------  */

.sc-digi-logo-s {
  display: none;
}

.logo-dark {
  width: 250px;
  height: auto;
}


/*  -----------------header-----------------------------  */

main {
  background-color:#ededed;
}

.jobs-search-filter {
  background-color: #5a4b42;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.sc-digi-form-label {
  color: #ffffff;
}

.digi-form-input-search__button {
  --digi--color--background--inverted-1:#ffb875;
  --digi--color--background--inverted-6: #ffd9b8;
}

.sc-digi-form-input-search {
  --digi--color--text--inverted:#443131;
}

.number-of-jobs {
  background-color: #ffffff;
}

.digi-list__list {
  list-style-type: none;
}

.digi-list__item {        /* unable to manipulate left margin */
  background: #ffffff;
  width: 100vw;
  margin-top: 8px;
}


/*  -----------------footer-----------------------------  */


.logo-dark {
  width: 250px;
  height: auto;
}
